<!DOCTYPE html>
<html>
    <head>
        <%-include('../templates/header.ejs')%>
    </head>
    <body style="background-color: rgba(76, 199, 230, 0.6);">

        <nav class="navbar navbar-light" style="background-color: white;">
            <%-include('../templates/navMainOnLogin.ejs')%>
        </nav><br>
        
        <main><br>
            <div class="container" style="background-color: white;">
                <nav class="navbar navbar-light" style="background-color: rgba(217, 217, 217, 0.7);">
                    <%-include('../templates/navDoctor.ejs')%>
                </nav><br>
                <h3 style="text-align: center;">Visualizar Asignación de citas</h3>
                <div class="container">
                    <div class="table-responsive"></div>
                        <div class="table-responsive" id="mydatatable-container">
                            <table id="tablaAsignacion" class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        
                                        <th>N° Documento Paciente</th>
                                        <th>Nombre Paciente</th>
                                        
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <script src="./js/scriptsNew.js"> </script>
                                    <script>
                                        var table = document.getElementById('tableBody')
                                        fetch("https://api-eps-proyecto.vercel.app/appointments").then(resp=>resp.json())
                                        .then(resp=>{
                                            console.log(resp)
                                            resp.data.forEach(n => {
                                                console.log('<%=doc%>')
                                                if(n.assigment.documentDoctorId._id == '<%=doc%>'){
                                                var row = document.createElement('tr')
                                                var tdNumberOffice = document.createElement('td')
                                                tdNumberOffice.append(document.createTextNode(n.assigment.idOffice.numberOffice))
                                                row.append(tdNumberOffice)
                                                var tdFloor = document.createElement('td')
                                                tdFloor.append(document.createTextNode(n.assigment.idOffice.floor))
                                                row.append(tdFloor)
                                                var tdPatientDoc = document.createElement('td')
                                                tdPatientDoc.append(document.createTextNode(n.patient.documentId))
                                                row.append(tdPatientDoc)
                                                var tdPatientName = document.createElement('td')
                                                tdPatientName.append(document.createTextNode(n.patient.name))
                                                row.append(tdPatientName)
                                                var tdFecha = document.createElement('td')
                                                var fecha = n.date.split('T')[0]
                                                tdFecha.append(document.createTextNode(fecha))
                                                row.append(tdFecha)
                                                var tdInicio = document.createElement('td')
                                                var fecha2 = n.date.split('T')[1].substring(0,5);
                                                tdInicio.append(document.createTextNode(fecha2))
                                                row.append(tdInicio)
                                                table.append(row)
                                                }
                                            });
                                            $('#tablaAsignacion').DataTable();
                                        })
                                        
                                    </script>
                                    
                                </tbody>
                                <tfoot class="text-center" style="background: #d78aea; color: black">
                                    <tr>  
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        
                                        <th>N° Documento Paciente</th>
                                        <th>Nombre Paciente</th>
                                        
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </tfoot>                         
                            </table><br>
                        </div>
                    </div>
                </div>
            </div>                                
        </main>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href= "https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"> </script>

        <script>
            window.addEventListener("pageshow", function (event) {
                let historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
                if (historyTraversal) {
                    window.location.reload();
                }
            });
        </script>                
        

           
        <footer class="footer" style="position: relative; bottom:0; left: 0; width: 100%; height: 50px; background-color: #16254C;">
            <%-include('../templates/footer.ejs')%>
        </footer>
    </body>
</html>