<!DOCTYPE html>
<html>
    <head>
        <%-include('../templates/header.ejs')%>

    </head>
    <body style="background-color: rgba(76, 199, 230, 0.6);">

        <nav class="navbar navbar-light" style="background-color: white;">
            <%-include('../templates/navMainOnLogin.ejs')%>
        </nav><br>
        
        <main><br>
            <div class="container" style="background-color: white;">
                <nav class="navbar navbar-light" style="background-color: rgba(217, 217, 217, 0.7);">
                    <%-include('../templates/navAdm.ejs', { currentPage: currentPage })%>
                </nav><br>
                <h3 style="text-align: center;">Realizar Asignación de Citas</h3>
                <div class="col-6" style="text-align: left;">
                    <button class="btn btn primary" style="background-color: #4C75E6; color: white;" data-bs-toggle="modal" data-bs-target="#modalAsignar">Crear Nueva Cita</button>
                </div><br>
                <div class="container">
                    <div class="table-responsive"></div>
                        <div class="table-responsive" id="mydatatable-container">
                            <table id="tablaAsignacion" class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        <th>Nombre Médico</th>
                                        <th>N° Documento Paciente</th>
                                        <th>Nombre Paciente</th>
                                        <th>Especialidad</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <script src="./js/scriptsNew.js"> </script>
                                    <script>
                                        var table = document.getElementById('tableBody')
                                        fetch("https://api-eps-proyecto.vercel.app/appointments").then(resp=>resp.json())
                                        .then(resp=>{
                                            console.log(resp)
                                            resp.data.forEach(n => {
                                                var row = document.createElement('tr')
                                                var tdNumberOffice = document.createElement('td')
                                                tdNumberOffice.append(document.createTextNode(n.assigment.idOffice.numberOffice))
                                                row.append(tdNumberOffice)
                                                var tdFloor = document.createElement('td')
                                                tdFloor.append(document.createTextNode(n.assigment.idOffice.floor))
                                                row.append(tdFloor)
                                                
                                                var tdName = document.createElement('td')
                                                tdName.append(document.createTextNode(n.assigment.documentDoctorId.name))
                                                row.append(tdName)
                                                var tdPatientDoc = document.createElement('td')
                                                tdPatientDoc.append(document.createTextNode(n.patient.documentId))
                                                row.append(tdPatientDoc)
                                                var tdPatientName = document.createElement('td')
                                                tdPatientName.append(document.createTextNode(n.patient.name))
                                                row.append(tdPatientName)
                                                var tdSpeciality = document.createElement('td')
                                                tdSpeciality.append(document.createTextNode(n.assigment.documentDoctorId.speciality.name))
                                                row.append(tdSpeciality)
                                                var tdFecha = document.createElement('td')
                                                var fecha = n.date.split('T')[0]
                                                tdFecha.append(document.createTextNode(fecha))
                                                row.append(tdFecha)
                                                var tdInicio = document.createElement('td')
                                                var fecha2 = n.date.split('T')[1].substring(0,5);
                                                tdInicio.append(document.createTextNode(fecha2))
                                                row.append(tdInicio)

                                                var btDelete = document.createElement('td')
                                                btDelete.innerHTML = '<button id="btnEliminar" class="btn btn-danger" onclick="eliminarCita('+'\''+n._id+'\''+')">Eliminar</button>'
                                                row.append(btDelete)
                                                table.append(row)
                                            });
                                            $('#tablaAsignacion').DataTable();
                                        })
                                        
                                    </script>
                                    
                                </tbody>
                                <tfoot class="text-center" style="background: #d78aea; color: black">
                                    <tr>  
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        <th>N° Documento Médico</th>
                                        <th>Nombre Médico</th>
                                        <th>Especialidad</th>
                                        <th>Fecha</th>
                                        <th>Hora Inicio</th>
                                        <th>Hora Fin</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </tfoot>                         
                            </table><br>
                        </div>
                    </div>
                </div><br>
            </div>
            <!-- Modal asignar cita -->
            <div class="modal fade" id="modalAsignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar cita</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                <label for="documentoMedico">Documento Paciente:</label>
                                <input type="number" class="form-control" id="documentoPaciente" name="documentoPaciente" required>
                                <button class="btn btn-primary" type="button" onclick="searchPatient()">Buscar paciente</button>
                                </div>
                                <div class="form-group">
                                    <label for="documentoMedico">Nombre Paciente:</label>
                                    <div id="nombrePaciente"></div>
                                    
                                </div>
                                <div class="form-group">
                                <label for="numeroConsultorio">Especialidad:</label>
                                <select type="text" class="form-control" id="nombreEspecialidad" name="nombreEspecialidad" onchange="changeDoctors()" required>
                                    <script>
                                        var select = document.getElementById('nombreEspecialidad')
                                        fetch("https://api-eps-proyecto.vercel.app/specialities").then(resp=>resp.json())
                                        .then(resp=>{
                                            var option0 = document.createElement('option')
                                            option0.append(document.createTextNode('Seleccione la especialidad...'))
                                            select.append(option0)
                                            resp.data.forEach(n=>{
                                                var option = document.createElement('option')
                                                option.append(document.createTextNode(n.name))
                                                select.append(option)
                                            })
                                        })
                                    </script>
                                
                                </select> 
                                </div>
                                <div class="form-group">
                                    <label for="numeroConsultorio">Médico:</label>
                                    <select type="text" class="form-control" id="nombreMedico" name="nombreMedico" onchange="showDates()" required>
                                    </select> 
                                </div>
                                <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <select type="text" class="form-control" id="fecha" name="fecha" onchange="changeHours()" required>
                                </select> 
                                </div>
                                <div class="form-group">
                                <label>Turno:</label>
                                <select type="text" class="form-control" id="hora" name="hora" required></select>
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveCita()">Asignar</button>
                        </div>
                    
                    </div>
                </div>
            </div>
            

            <script>
                // Obtener la fecha actual
                var today = new Date();

                // Calcular la fecha de mañana
                var tomorrow = new Date(today);
                tomorrow.setDate(tomorrow.getDate() + 1);

                // Formatear la fecha de mañana en el formato "AAAA-MM-DD"
                var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

                // Asignar la fecha de mañana como el valor mínimo del campo de entrada de fecha
                document.getElementById("fecha").min = tomorrowFormatted;
            </script>
            
            <%if(msg!=""){%>
                <script>
                    Swal.fire('<%=msg%>')
                </script>
            <%}%>
        </main>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href= "https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"> </script>
        

        <script>
            window.addEventListener("pageshow", function (event) {
                let historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
                if (historyTraversal) {
                    window.location.reload();
                }
            });
        </script>                
        


        <footer class="footer" style="position: relative; bottom:0; left: 0; width: 100%; height: 50px; background-color: #16254C;">
            <%-include('../templates/footer.ejs')%>
        </footer>
    </body>
</html>